@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Estedad;
  src: url("./assets/font/Estedad-v5.0-Fontjo.com/estedad.woff2");
  }
  * {
  font-family: Estedad;
  }
  body {
  font-family: Estedad;
  padding-left: 32px;
  padding-right: 32px;
  }
  #root{
    font-family: inherit;
  }