@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Estedad;
  src: url("./assets/font/Estedad-v5.0-Fontjo.com/estedad.woff2");
}
* {
  font-family: Estedad;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Estedad;
}
#root {
  font-family: inherit;
}
